* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111827;
    color: white;
}

/* HEADER */

header {
    background-color: #1f2937;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}

header h1 {
    color: #f97316;
}

/* MENU */

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #f97316;
}

/* HERO */

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
}

/* FOOTER */

footer {
    background-color: #1f2937;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

/* FORMULAIRE */

.formulaire-section {
    width: 400px;
    margin: 80px auto;

    background-color: #1f2937;

    padding: 30px;

    border-radius: 15px;
}

.formulaire-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
select {
    padding: 12px;

    border: none;

    border-radius: 8px;

    font-size: 16px;
}

button {
    background-color: #f97316;

    color: white;

    border: none;

    padding: 12px;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    background-color: #ea580c;
}

.message {
    text-align: center;
    margin-top: 20px;
}

.bonjour {
    text-align: center;

    margin-top: 30px;

    font-size: 22px;

    font-weight: bold;

    color: #f97316;
}

textarea {
    padding: 12px;

    border: none;

    border-radius: 8px;

    resize: vertical;

    min-height: 120px;

    font-size: 16px;
}

/* EVENEMENTS */

.evenements {
    padding: 50px 30px;
}

.titre-section {
    text-align: center;

    margin-bottom: 40px;

    font-size: 35px;
}

.grille-evenements {

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

    gap: 30px;
}

.carte-evenement {

    background-color: #1f2937;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0,0,0,0.4);

    transition: 0.3s;
}

.carte-evenement:hover {
    transform: translateY(-5px);
}

.carte-evenement img {

    width: 100%;

    height: 220px;

    object-fit: cover;
}

.carte-evenement h3 {

    padding: 15px;

    color: #f97316;
}

.carte-evenement p {
    padding: 0 15px 15px 15px;
}

.categorie {

    font-weight: bold;

    color: #f97316;
}

.carte-evenement a {

    display: block;

    margin: 15px;

    background-color: #f97316;

    color: white;

    text-align: center;

    padding: 10px;

    border-radius: 8px;

    text-decoration: none;
}

.carte-evenement a:hover {
    background-color: #ea580c;
}

/* DETAIL EVENEMENT */

.detail-evenement {

    display: flex;

    gap: 40px;

    padding: 50px;

    flex-wrap: wrap;

    align-items: center;
}

.detail-evenement img {

    width: 500px;

    max-width: 100%;

    border-radius: 15px;
}

.contenu-evenement {

    flex: 1;
}

.contenu-evenement h2 {

    font-size: 40px;

    margin-bottom: 20px;

    color: #f97316;
}

.contenu-evenement p {

    margin-bottom: 15px;

    font-size: 18px;
}

.categorie-detail {

    font-weight: bold;

    color: #f97316;
}

.btn-reserver {

    display: inline-block;

    margin-top: 20px;

    background-color: #f97316;

    color: white;

    padding: 12px 20px;

    border-radius: 8px;

    text-decoration: none;
}

.btn-reserver:hover {
    background-color: #ea580c;
}

/* PROFIL */

.profil-section {

    padding: 50px;
}

.profil-section h2 {

    text-align: center;

    margin-bottom: 40px;

    font-size: 40px;

    color: #f97316;
}

.infos-profil {

    background-color: #1f2937;

    padding: 30px;

    border-radius: 15px;

    margin-bottom: 50px;
}

.infos-profil p {

    margin-bottom: 15px;

    font-size: 18px;
}

.titre-profil {

    margin-bottom: 30px;

    margin-top: 40px;

    font-size: 30px;

    color: #f97316;
}